/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap-datepicker3
 *= require_self
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
*/

.new-record-button.btn{
  margin-bottom: 1%;
}

.actions-buttons.btn{
  color: white;
}

.title-with-button{
  display: inline-block;
  width: 15%;
}

a{
  text-decoration: none !important;
}

.has-error > .help-block{
  margin-left: 18%;
}

.nav>li>a:hover, .nav>li>a:focus, a.navbar-brand:hover,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #0275d8 !important;
  color: white !important;
}

input[type=text]:read-only {
  background: white;
  cursor: pointer;
}

.statistics{
  display: inline-block;
}

.caption.stat-no-padding{
  padding: 0 !important;
}

.row.stat-element{
  margin-left: 10%;
}

.col-sm-6.stat-full-width{
  width: 120%;
}

.col-sm-6.right{
  margin-left: 120%;
}

.col-sm-6.left{
  margin-left: 70%;
}

.thumbnail.stat-padding{
  padding: 7%;
}